Thumbs.db
css/*.css
node_modules/
catalog.html
contact.html
index.html
id83457(v3.0).zip
nerds.sublime-project.*
catalog.sublime-workspace.*
nerds.sublime-workspace.*
readme.txt
sftp-config.json
*.sublime*
*.log
*.psd

